<label for="location" class="block text-base font-medium text-gray-500">Choose Yamaha bike model to add to DB</label>
<select
  id="location"
  name="location"
  (change)="navigateToNewBike($event)"
  class="mt-1 block w-full text-gray-400 rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
>
  <option>Select bike model...</option>
  <option *ngFor="let model of bikeModels" [value]="model.name">{{ model.name }}</option>
</select>
